<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::script},none)}" lang="ja">
<head>
    <meta charset="utf-8">
	<title>ログアウト</title>
</head>
<body>
	<div class="card mt-3">
		<h5 class="card-header">ログアウト画面</h5>
		<div class="card-body">
			<div class="alert alert-success">
				ログアウトしました。
			</div>
		</div>
	</div>
	<a th:href="@{/}">トップへ</a>
</body>
<script type="text/javascript" th:fragment="script">
</script>
</html>