<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::script},productIssue)}" lang="ja">
<head>
    <meta charset="utf-8">
	<title>商品登録</title>
</head>
<body>
	<div class="card mt-3">
		<h5 class="card-header">商品登録画面</h5>
		<div class="card-body">
			<th:block th:if="${messageList != null}">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<th:block th:each="message : ${messageList}" >
					 [[${message}]]<br>
				</th:block>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			</th:block>
			<form th:action="@{/ProductInputServlet}" th:object="${productForm}" method="post" class="col-8">
				<div class="form-group row">
					<label for="productId" class="col-md-2 col-form-label">商品ID</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{productId}" >
					</div>
				</div>
				<div class="form-group row">
					<label for="name" class="col-md-2 col-form-label">商品名</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{name}">
					</div>
				</div>
				<div class="form-group row">
					<label for="category" class="col-md-2 col-form-label">商品分類</label>
					<div class="col-md-10">
						<select class="form-control" id="category" name="categoryCode">
							<option value=""></option>
							<option th:each="productCategory : ${productCategoryList}" th:value="${productCategory.code}" th:selected="${productCategory.code == productForm.categoryCode}" th:inline="text">[[${productCategory.name}]]</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="unitPrice" class="col-md-2 col-form-label">販売単価</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{unitPrice}">
					</div>
				</div>
				<div class="form-group row">
					<label for="purchaseUnitPrice" class="col-md-2 col-form-label">仕入単価</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{purchaseUnitPrice}">
					</div>
				</div>
				<div class="form-group row">
					<label for="registrationDate" class="col-md-2 col-form-label">登録日</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{registrationDate}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">登録</button>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" th:fragment="script">
</script>
</html>
