<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::script},productList)}" lang="ja">
<head>
    <meta charset="utf-8">
	<title>商品一覧</title>
</head>
<body>
	<div class="card mt-3">
		<h5 class="card-header">商品一覧画面</h5>
		<div class="card-body">
			<h5>検索条件</h5>
			<form th:action="@{/ProductListServlet}" th:object="${productForm}" method="post">
				<div class="form-group row">
					<label for="name" class="col-md-2 col-form-label">商品名</label>
					<div class="col-md-10">
						<input type="text" class="form-control" th:field="*{name}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">検索</button>
			</form>
		</div>

		<div class="card-body">
			<th:block th:if="${#lists.isEmpty(products)}">
			<div class="alert alert-danger">
				[[${message}]]
			</div>
			</th:block>
			<th:block th:if="${not #lists.isEmpty(products)}">
			<h5>検索結果</h5>
			<table class="table table-bordered">
				<tr>
					<th scope="col">商品ID</th>
					<th scope="col">商品名</th>
					<th scope="col">商品分類</th>
					<th scope="col">販売単価</th>
					<th scope="col">仕入単価</th>
					<th scope="col">登録日</th>
					<th scope="col"></th>
				</tr>
				<th:block th:each="product : ${products}" th:object="${product}" >
					<tr>
						<td th:text="*{productId}">
							P001
						</td>
						<td th:text="*{name}">Tシャツ</td>
						<td th:text="${product.productCategory.name}">衣服</td>
						<td th:text="*{#numbers.formatInteger(unitPrice, 1, 'COMMA')}" class="text-right">
							123,456
						</td>
						<td th:text="*{#numbers.formatInteger(purchaseUnitPrice, 1, 'COMMA')}" class="text-right">
							123,456
						</td>
						<td th:text="*{#dates.format(registrationDate, 'yyyy/MM/dd')}">
							2020/10/07
						</td>
						<td>
							<a th:href="@{/ProductUpdateInitServlet/{id}(id=*{id})}">変更／削除</a>
						</td>
					</tr>
				</th:block>
			</table>
			</th:block>
		</div>
	</div>
</body>
<script type="text/javascript" th:fragment="script">
</script>
</html>
